<header>
    <div class="container">
        <div class="content">
            <div class="brand">
                <img src="assets/images/logo-new-combin.png" alt="New Combin">
            </div>
            <nav>
                <ul class="navbar">
                    <li class="navbar__item"><a [routerLink]="['/home']" routerLinkActive="navbar__item--active">Inicio</a></li>
                    <li class="navbar__item"><a [routerLink]="['/other-page']" routerLinkActive="navbar__item--active">Nuestros servicios</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
