<div class="container our-services">
    <h1 class="our-services-title">Nuestros Servicios</h1>
    <div class="our-services-cards">
        <div class="our-services-card">
            <div class="our-services-card-image">
                <img src="assets/images/monitor.png" alt="Monitor">
            </div>
            <div class="information">
                <h2 class="our-services-card-title">DESARROLLO DE <br>SOFTWARE</h2>
                <p class="our-services-card-text">¿Necesita ayuda para desarrollar su software? Confíe en un socio que lleve adelante el desarrollo y garantice su tranquilidad.</p>
            </div>
        </div>
        <div class="our-services-card">
            <div class="our-services-card-image">
                <img src="assets/images/rompecabezas.png" alt="Puzzle">
            </div>
            <div class="information">
                <h2 class="our-services-card-title">TRANSFORMACIÓN<br>DIGITAL</h2>
                <p class="our-services-card-text">Su socio en el viaje hacia la digitalización. Comprendemos su negocio para poder empoderarlo a través de la tecnología correcta.</p>
            </div>
        </div>
    </div>
</div>